<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talentuno.mynit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MynitCustomActionBarTheme" >
        <activity
            android:name="com.talentuno.activity.OTPActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:screenOrientation="portrait"
            android:label="mynit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.talentuno.mynit.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.talentuno.mynit.UnansweredSurveyActivity"
            android:label="@string/title_activity_unanswered_survey" >
        </activity>
        <activity
            android:name="com.talentuno.mynit.AnsweredSurveyActivity"
            android:label="@string/title_activity_answered_survey" >
        </activity>
        <activity
            android:name="com.talentuno.mynit.CreatePollActivity"
            android:label="@string/title_activity_create_poll" >
        </activity>
        <activity
            android:name="com.talentuno.mynit.GroupActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <activity
            android:name="com.talentuno.mynit.ContactsActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name="com.talentuno.mynit.MYNHomeActivity"
            android:label="@string/title_activity_mynhome" >
        </activity>
    </application>

</manifest>
